* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #2C3333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #A5C9CA;
    width: 550px;
    height: 800px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.c-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E7F6F2;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    flex: 1;
    background: #395B64;
}

.c-bottom {
    display: flex;
    padding: 15px;
    flex: 5;
    overflow: hidden;
}


.main {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-auto-rows: 40px;
    flex: auto;
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: #E7F6F2;
    overflow: scroll;    
}

.main::-webkit-scrollbar {
    display: none;
}

.main-header {
    font-weight: 500;
}

.main-header, .book-item {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: inherit;
    color: #2C3333;
    border-bottom: 1px solid rgb(44, 51, 51, 0.3);
}

.book-item {
    font-size: 14px;
    font-style: italic;
    align-items: center;
}

.book-item > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-item:hover {
    cursor: pointer;
    background-color: #e3f0ed;
}

div.main-header > div {
    text-align: start;
}

.item {
    height: 50px;
}

input[type='checkbox'] {
    display: flex;
    justify-self: flex-start;
}

.input-item {
    appearance: none;
    -moz-appearance: none;
    border: none;
    border-left: 1px none rgb(0, 0, 0, 0.3);
    border-right: 1px dashed rgb(0, 0, 0, 0.3);
    background: none;
    padding-left: 2px;
    height: 80%;
    width: 80%;
}

.input-item:focus {
    outline: none;
}

.newItem {
    margin-top: 15px;
    appearance: none;
    -moz-appearance: none;
    padding: 10px 50px;
    border: none;
    border: 5px solid #A5C9CA;
    background-color: #eef2f1;
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-family: monospace;
}

.newItem:hover {
    cursor: pointer;
    background-color: #e1e1e1;
    border: 5px solid #7f9d9e;

}

.newItem:active {
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.3);
}